<html>
  <head>
    <title>ETUK JESSE IMOH 18CJ024119 DATA VISUALIZATION ASSIGNMENT</title>

    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/main.css') }}">

  </head>
  <body>
      <h1 align="center">GENDER PARITY INDEX FOR GROSS PRIMARY GRADUATION RATIO/h1>

    <div class="cell">
        <p class="main-text">
           This Bar plots below show the Number of Combined Radio and Television Institutions In Africa from the
           year 2010-2019
        </p>
<br/><br/>
        <img src='{{ url_for('static', filename='images/output1.png') }}' width="70%">
<br/><br/>
        <img src='{{ url_for('static', filename='images/output2.png') }}' width="70%">
<br/><br/>
        <img src='{{ url_for('static', filename='images/output3.png') }}' width="70%">
<br/><br/>
        <img src='{{ url_for('static', filename='images/output4.png') }}' width="70%">
<br/><br/>
        <img src='{{ url_for('static', filename='images/output5.png') }}' width="70%">
<br/><br/>
        <img src='{{ url_for('static', filename='images/output6.png') }}' width="70%">
<br/><br/>
        <img src='{{ url_for('static', filename='images/output7.png') }}' width="70%">
<br/><br/>
        <img src='{{ url_for('static', filename='images/output8.png') }}' width="70%">
<br/><br/>
        <img src='{{ url_for('static', filename='images/output9.png') }}' width="70%">
<br/><br/>
        <img src='{{ url_for('static', filename='images/output10.png') }}' width="70%">
<br/><br/>





      </div>


      <div  class="cell">
        <p class="main-text">
            The line graphs show below the different measures of dispersion(as indicated by the legend),
            for the observation values in the line graphs above the first plot being the Mean,followed by the Standard
            Deviation,Variance,Median
        </p>
<br/><br/>
      <img src='{{ url_for('static', filename='images/output11.png') }}' width="40%">
 <br/><br/> 
      <img src='{{ url_for('static', filename='images/output12.png') }}' width="40%">
<br/><br/>
      <img src='{{ url_for('static', filename='images/output13.png') }}' width="40%">
<br/><br/>
      <img src='{{ url_for('static', filename='images/output14.png') }}' width="40%">
<br/><br/>
      <img src='{{ url_for('static', filename='images/output15.png') }}' width="40%">
<br/><br/>
      <img src='{{ url_for('static', filename='images/output16.png') }}' width="40%">
<br/><br/>
      <img src='{{ url_for('static', filename='images/output17.png') }}' width="40%">

      </div>
      

  </body>
</html>
